<IfModule mod_php5.c>
 php_value post_max_size 200M
 php_value upload_max_filesize 200M
 php_value memory_limit 1000M 
 php_value max_execution_time 259200
 php_value max_input_time 259200
 php_value session.gc_maxlifetime 1200 
 </IfModule>

 RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php